<div class="container">
    <div>
        <h2>Modifier un reservation :</h2>
    </div>
    <form>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <label>numéro reservation</label>
            <input readonly type="text" [(ngModel)]="currentreservation.numreservation" name="numreservation"
                class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Nom Produit</label>
            <input type="text" [(ngModel)]="currentreservation.nomclient" name="nomclient" class="form-control">
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <label>Prix Produit</label>
            <input type="number" [(ngModel)]="currentreservation.prixsejour" name="prixsejour" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Date début</label>
            <input type="date" [ngModel]="currentreservation.datedebut| date: 'yyyy-MM-dd'"
                (ngModelChange)=" currentreservation.datedebut= $event" name="datedebut" class="form-control">

        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Date fin</label>
            <input type="date" [ngModel]="currentreservation.datefin| date: 'yyyy-MM-dd'"
                (ngModelChange)=" currentreservation.datefin= $event" name="datefin" class="form-control">

        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>type de reservation</label>
            <select class="form-control form-control-lg" id="idty" name="idty" [(ngModel)]="updatedtyid">
                <option *ngFor="let ty of types" [value]="ty.idty">
                    {{ty.typereservation}}
                </option>
            </select>
        </div>
        <div class="mt-2">
            <button type="submit" (click)="updatereservation()" class="btn btn-success">Modifer</button>
        </div>
    </form>
</div>